/node_modules
/public/dok_dasar_dupak
/public/file_rincian_dupak
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/dok_spmt_stmt_dupak/SPMT-2020-05-12 22-49_9_logo-warkop.png
